
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/FileContentIndex/read.lock
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.dgspec.json
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.g.props
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfo.cs
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfoInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.assets.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.AssemblyReference.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.GeneratedMSBuildEditorConfig.editorconfig
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.RazorAssemblyInfo.cache
BlazorBattleship/obj/Debug/net6.0/project.razor.vs.json
BlazorBattleship/obj/project.assets.json
BlazorBattleship/obj/project.nuget.cache
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
BlazorBattleship/obj/Debug/net6.0/project.razor.vs.json
.vs/BlazorBattleship/v17/.futdcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
/.vs/ProjectEvaluation
/BlazorBattleship/bin/Debug
/BlazorBattleship/bin
.vs/BlazorBattleship/v17/.futdcache.v2
.vs/BlazorBattleship/v17/.suo
.vs/ProjectEvaluation/blazorbattleship.metadata.v5.2
.vs/ProjectEvaluation/blazorbattleship.projects.v5.2
.vs/BlazorBattleship/DesignTimeBuild/.dtbcache.v2
.vs/BlazorBattleship/v17/.suo
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.dll
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.pdb
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.CoreCompileInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.GeneratedMSBuildEditorConfig.editorconfig
BlazorBattleship/obj/Debug/net6.0/project.razor.vs.json
BlazorBattleship/obj/Debug/net6.0/project.razor.vs.json
BlazorBattleship/obj/Debug/net6.0/ref/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/refint/BlazorBattleship.dll
/.vs/BlazorBattleship/v17
/.vs/ProjectEvaluation
/BlazorBattleship/obj/Debug
.vs/Battleship_ForkProject2/config/applicationhost.config
.vs/Battleship_ForkProject2/FileContentIndex/2ea79d1a-5598-45c5-bb9d-599ff41cc6d4.vsidx
.vs/Battleship_ForkProject2/v17/.wsuo
.vs/Battleship_ForkProject2/v17/DocumentLayout.backup.json
.vs/Battleship_ForkProject2/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
BlazorBattleship/.vs/BlazorBattleship/config/applicationhost.config
BlazorBattleship/.vs/BlazorBattleship/FileContentIndex/89ccf0dd-4d3d-474f-a849-6d532f062de3.vsidx
BlazorBattleship/.vs/slnx.sqlite
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.dll
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.exe
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.pdb
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.staticwebassets.runtime.json
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.dgspec.json
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.g.props
BlazorBattleship/obj/Debug/net6.0/apphost.exe
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfo.cs
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfoInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.assets.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.AssemblyReference.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.CoreCompileInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.FileListAbsolute.txt
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.GeneratedMSBuildEditorConfig.editorconfig
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.genruntimeconfig.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.pdb
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.RazorAssemblyInfo.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.RazorAssemblyInfo.cs
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.sourcelink.json
BlazorBattleship/obj/Debug/net6.0/ref/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/refint/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/staticwebassets.build.json
BlazorBattleship/obj/Debug/net6.0/staticwebassets.development.json
BlazorBattleship/obj/Debug/net6.0/staticwebassets.pack.json
BlazorBattleship/obj/Debug/net6.0/staticwebassets/msbuild.BlazorBattleship.Microsoft.AspNetCore.StaticWebAssets.props
BlazorBattleship/obj/project.assets.json
BlazorBattleship/obj/project.nuget.cache
BlazorBattleship/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.AssemblyInfo.cs
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.AssemblyInfoInputs.cache
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.assets.cache
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.csproj.AssemblyReference.cache
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.GeneratedMSBuildEditorConfig.editorconfig
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.GlobalUsings.g.cs
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.RazorAssemblyInfo.cache
BlazorBattleship/obj/Release/net6.0/BlazorBattleship.RazorAssemblyInfo.cs
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.dll
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.exe
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.pdb
BlazorBattleship/bin/Debug/net6.0/BlazorBattleship.staticwebassets.runtime.json
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.dgspec.json
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.g.props
BlazorBattleship/obj/BlazorBattleship.csproj.nuget.g.targets
BlazorBattleship/obj/Debug/net6.0/apphost.exe
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfo.cs
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.AssemblyInfoInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.assets.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.AssemblyReference.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.CoreCompileInputs.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.csproj.FileListAbsolute.txt
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.GeneratedMSBuildEditorConfig.editorconfig
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.genruntimeconfig.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.pdb
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.RazorAssemblyInfo.cache
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.RazorAssemblyInfo.cs
BlazorBattleship/obj/Debug/net6.0/BlazorBattleship.sourcelink.json
BlazorBattleship/obj/Debug/net6.0/ref/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/refint/BlazorBattleship.dll
BlazorBattleship/obj/Debug/net6.0/staticwebassets.build.json
BlazorBattleship/obj/Debug/net6.0/staticwebassets.development.json
BlazorBattleship/obj/Debug/net6.0/staticwebassets.pack.json
BlazorBattleship/obj/Debug/net6.0/staticwebassets/msbuild.BlazorBattleship.Microsoft.AspNetCore.StaticWebAssets.props
BlazorBattleship/obj/project.assets.json
BlazorBattleship/obj/project.nuget.cache
